// SCSS Variables
// Add your global SCSS variables here

// Colors
// $primary-color: #3490dc;
// $secondary-color: #ffed4e;
// $danger-color: #e3342f;

// Spacing
// $spacing-unit: 8px;

// Breakpoints
// $breakpoint-sm: 640px;
// $breakpoint-md: 768px;
// $breakpoint-lg: 1024px;
// $breakpoint-xl: 1280px;
