// Main SCSS entry point
@use 'variables' as *;

// Add your global styles here
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: var(--v-theme-background);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  color: var(--v-theme-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Avenir', sans-serif;
}

p,
li {
  font-family: 'Avenir', sans-serif;
}

li {
  margin-bottom: 5px;
}

h1 {
  text-transform: uppercase !important;
  font-weight: 800 !important;
  line-height: 1 !important;
  font-size: 100px !important;
}

h2 {
  text-transform: uppercase !important;
  font-weight: 700 !important;
  font-size: 2rem !important;
}

h3 {
  font-weight: 600 !important;
  font-size: 1.75rem !important;
}

h4 {
  font-weight: 400 !important;
  font-size: 20px !important;
}

h5 {
  font-weight: 800 !important;
  line-height: 1.2 !important;
  font-size: 1.2rem !important;
}

h6 {
  font-weight: 200 !important;
  font-size: 0.8rem !important;
  font-style: italic !important;
}

.primary-color-c-glow {
  text-shadow:
    0 0 10px rgb(var(--v-theme-primary)),
    0 0 21px rgb(var(--v-theme-primary)),
    0 0 42px rgb(var(--v-theme-primary));
}

.primary-color-bg-glow {
  box-shadow: 0 0 8px 0px rgb(var(--v-theme-primary));
}

.secondary-color-c-glow {
  text-shadow:
    0 0 10px rgb(var(--v-theme-secondary)),
    0 0 21px rgb(var(--v-theme-secondary)),
    0 0 42px rgb(var(--v-theme-secondary));
}

.secondary-color-bg-glow {
  box-shadow: 0 0 8px 0px rgb(var(--v-theme-secondary));
}

.accent-color-c-glow {
  text-shadow:
    0 0 10px rgb(var(--v-theme-accent)),
    0 0 21px rgb(var(--v-theme-accent)),
    0 0 42px rgb(var(--v-theme-accent));
}

.accent-color-bg-glow {
  box-shadow: 0 0 8px 0px rgb(var(--v-theme-accent));
}
